/* 
    Document   : Slider
    Created on : 2 Dec, 2015, 12:43:30 PM
    Author     : Harsh
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.container
            {
                width:880px;
                height:425px;
                padding:0px;
                border: 0px solid black;
                -webkit-box-sizing:border-box;
                -moz-box-sizing:border-box;
                box-sizing:border-box;
                
            }
            .slider_wrapper
            {
                overflow: hidden;
                position:relative;
                width:880px;
                height:420px;
                top:auto;
            }
            #image_slider
            {
                position: relative;
                height: auto;
                list-style: none;
                overflow: hidden;
                float: left;
                /*Chrom default padding for ul is 40px */
                padding:0px;
                margin:0px;
            }
            #image_slider li
            {
                position: relative;
                float: left;
            }
            .nvgt
            {
                position:absolute;
                top: 180px;
                height: 50px;
                width: 30px;
                opacity: 0.6;
            }
            .nvgt:hover
            {
                opacity: 0.9;
            }
            #prev
            {
                background: #000 url('Images/prev.png') no-repeat center;
                left: 0px;
            }
            #next
            {
                background: #000 url('Images/next.png') no-repeat center;
                right: 0px;
            }

